html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 15px;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Page*/

.page {
    width: 100%;
    height: 100vh;
    background: black url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 770px;

}

.header {
    background: #2b7ded;
    padding: 1rem 0;
    margin-bottom: 110px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-brand {
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.header-logo img {
    display: block;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s linear;
}

.header-nav-link:hover {
    color: #b2e3fd;

}

.header-nav-link.active {
    position: relative;

}

.header-nav-link.active:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;


}

/*Content*/

.content {
    width: 100%;
    max-width: 565px;

}

.content-header {
    margin-bottom: 35px;
}

.subtitle {
    font-size: 1.4rem;
    color: rgb(255, 255, 255, 0.6);
    font-style: 300;
}

.title {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    line-height: 1.2;
}

.title span {
    color: rgb(105, 140, 255);
}

.text {
    font-size: 1rem;
    color: white;
    margin-bottom: 50px;
}

.btn {
    font-size: 1rem;
    padding: 12px 35px;
    line-height: 1.1;
    font-family: inherit;
    color: white;
    border: 0;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(105, 140, 255);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.2s linear;
}

.btn-full {
    display: block;
    width: 100%;
}

.btn:hover {
    background-color: rgb(39, 97, 221);
}

.author {
    position: absolute;
right: 20px;
bottom: 0;
}

/* Footer */

.footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 45px;
}


.contacts {
    display: flex;
    align-items: center;
}


.contacts-link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    margin-right: 2rem;
}

.contacts-link:last-child {
    margin-right: 0;
    position: relative;
}

.contacts-link:last-child:after {
    content: "";
    display: block;
    background-color: white;
    height: 2px;
    width: 80px;
    position: absolute;
    left: 100%;
    top: 11px;
    margin-left: 2rem;
    pointer-events: none;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-icon {
    margin-right: 5px;
}


.form {
    width: 100%;
    max-width: 280px;
}

.form-group {
    margin-bottom: 20px;
}

.input,
.textarea {
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    padding: 12px 18px;
    color: white;
    border-radius: 5px;
}

.input::placeholder,
.textarea::placeholder{
    color: white;
}

.textarea {
    height: 100px;
    resize: none;
}


/*Media*/

@media (max-width: 1000px) {
    .author {
        right: -170px;
    }

}

@media (max-width: 767px) {
 
    .page {
        min-height: 100vh;
        height: auto;
        padding-bottom: 2rem;
    }
 
    .header {
        margin-bottom: 50px;
    }

    .content {
        text-align: center;
        max-width: none;
        margin-bottom: 50px;
    }


    .contacts {
        flex-direction: column;
    }


    .contacts-link {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    .contacts-link:last-child {
        margin-bottom: 0;
    }

    .contacts-link:last-child:after {
        display: none;
    }

    .footer {
        position: static;
    }

    .header-logo {
        display: none;
    }

    .header-brand {
        font-size: 1.2rem;
    }

    .form {
        margin: 0 auto;
    }

    .author {
        display: none;
    }
}

@media (max-width: 565px) {

    .header-inner {
        flex-direction: column;
    }

    .header-brand {
        margin-bottom: 1rem;
    }

}

@media (max-width: 320px) {
    .subtitle {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1.6rem;
    }
}